# Node.js dependencies
/node_modules/

# Environment variables
.env

# Optional lockfiles
package-lock.json
yarn.lock

# Build output
/dist/
/build/
*.tgz
*.tar.gz

# program outputs
*.log
/reports/